<header id='add_page'>
    <h3 style="color: blue">客户列表</h3>
    <div class="header-right">
        <a class="btn-style btn-4 btn-primary">开始</a>
    </div>
    <div class="header-left">
        <a class="btn-style btn-4 btn-primary" ng-click="go_activity()">返回</a>
    </div>
</header>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li><a style="background:#fa9f1e"><i class="active"><br>报名</i></br></a></li>
        <li><a style="background:#E9DC51"><i class="active"><br>竞价</i></br></a></li>
    </ul>
</footer>