<header id='create_page'>
    <h3 style="color: blue">创建活动</h3>
    <div class="header-left">
      <a class="btn-style btn-4 btn-primary" id="back" ng-click="go_list()">{{back}}</a>
    </div>
</header>


<div id="wrapper" class="wrapper scrollable">
    <form class="wrapper-inner">
        <fieldset class="form-wrapper">

<h4>活动名称：</h4>

<input class="input-full" type="search" id="input" ng-model="change" ng-change="update()" />

<div style="color:red">
    <h4 style="text-align:center" id="warning"></h4>
</div>

<div  style="text-align:center">
    <button class="btn btn-outlined" id="activity"
            ng-click="go_add()" disabled="disabled"><h3>{{create}}</h3></button>
</div>



</div>