<header id='list_page'>
    <h3 style="color: blue">活动列表</h3>
    <div class="header-right">
        <a class="btn-style btn-4 btn-primary" ng-click="go_create()">创建活动</a>
    </div>
</header>

<div id="wrapper" class="wrapper scrollable">
    <form class="wrapper-inner">
        <fieldset class="form-wrapper">

<ul class="{{messages.status}}" ng-repeat="messages in list1">
    <li class="btn-style btn-3">
        <h1 ng-click="button(messages)" style="color:#00A000">&nbsp{{messages.name}}</h1>
    </li>
</ul>
<!--<ul class="yellow1" ng-repeat="messages in list1">-->
    <!--<a ng-click="button(messages)">-->
        <!--<h1 style="color:#00A000" >&nbsp{{messages}}</h1>-->
    <!--</a>-->
<!--</ul>-->

</div>

