<header id='list_page'>
    <h3 style="color: blue">活动列表</h3>
    <div class="header-right">
        <a class="btn-style btn-4 btn-primary" ng-click="go_create()">创建活动</a>
    </div>
</header>

<div id="wrapper" class="wrapper scrollable">
    <form class="wrapper-inner">
        <fieldset class="form-wrapper">

    <button style="background:#ffff00" class="btn-style btn-2" ng-repeat="messages in list1">
        <h1 style="color:#00A000">{{messages}}</h1>
    </button>
            <h4 style="text-align:center" id="aa"> </h4>

</div>